@import '../../global.scss';

.contact{
    background-color: lightblue;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left{
        flex: 0.6;
        overflow: hidden;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include mobile{
                padding-left: 0;
                align-items: center;
              }

            h1{
                font-size: 60px;
                margin: 10px 0;
                @include mobile{
                    font-size: 20px;
                }
            }
            h2{
                font-size: 35px;
                @include mobile{
                    font-size: 16px;
                    margin-right: 100px;
                }
            }
            h3{
                padding-left: 100px;
                font-size: 30px;
                @include mobile{
                    padding-left: 20px;
                    font-size: 16px;
                    margin-right: 100px;
                }
            }
        }

    }

    .right{
        flex: 0.4;
        position: relative;
        background-color: whitesmoke;
        @include mobile{
            border-radius: 10px;
            padding: 10px;
        }
        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mobile{
                padding-left: 5px;
                align-items:flex-start;
                width: 100%;
              }

            h1{
                font-size: 60px;
                margin: 10px 0;
                @include mobile{
                    font-size: 20px;
                }
            }
            h2{
                font-size: 35px;
                @include mobile{
                    font-size: 18px;
                }
            }
            h3{
                font-size: 30px;
                @include mobile{
                    font-size: 14px;
                }
            }
            .icons{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .mediaIcon{
                    font-size: 40px;
                    margin-right: 5px;
                    margin-left: -10px;
                }
                span{
                    font-size: 18px;
                    font-weight: 500;
                }

            }

            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 10px;

                .icon{
                    font-size: 20px;
                    margin-right: 5px;
                }

                span{
                    font-size: 18px;
                    font-weight: 500;
                }

                a {
                    font-size: inherit;
                    color: inherit;
                    text-decoration: none;
                  }
            }
        }
    }
}